@font-face {
    font-family: 'Work Sans';
    src: url('../assets/fonts/work_sans_bold.ttf');
}

@font-face {
    font-family: 'IBM Plex Mono';
    src: url('../assets/fonts/ibm_plex_mono.ttf');
}

body{
    font-family: "IBM Plex Mono", serif;
    overflow: hidden;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Work Sans', serif;
}

::-webkit-scrollbar {
    display: none;
}

.icon-text-shadow {
    text-shadow: 0 0 10px #000;
}
