@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Bold';
    src: url('/fonts/work_sans_bold.ttf');
}

@font-face {
    font-family: 'Regular';
    src: url('/fonts/work_sans_regular.ttf');
}

@font-face {
    font-family: 'Pixelmix';
    src: url('/fonts/pixelmix.ttf');
}

body {
    font-family: 'Pixelmix', serif;
    overflow: hidden;
}

h1 {
    font-family: 'Bold', serif;
}

h2,
h3,
h4,
h5,
h6 {
    font-family: 'Regular', serif;
}

::-webkit-scrollbar {
    display: none;
}
