@import '@fontsource/work-sans/index.css';
@import '@fontsource/noto-mono/index.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Pixelmix';
    src: url('/fonts/pixelmix.ttf');
}

@font-face {
    font-family: 'Lana Pixel';
    src: url('/fonts/lanapixel.ttf');
}

html {
    height: 100%;
    box-sizing: border-box;
    touch-action: manipulation;
    font-feature-settings: 'case' 1, 'rlig' 1, 'calt' 0;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html,
body {
    font-family: 'Pixelmix', serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1 {
    font-weight: bold;
    font-family: 'Work Sans', sans-serif;
}

h2,
h3,
h4,
h5,
h6 {
    font-family: 'Work Sans', sans-serif;
}

body {
    position: relative;
    margin: 0;
    min-height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    display: none;
}

.hero-bg {
    position: absolute;
    z-index: -100;
    top: 0;
    height: 800px;
    background: radial-gradient(120.69% 74.23% at 50% 32.92%, rgba(15, 47, 91, 0) 64.06%, #0f305d 90.42%), #0a0a0a;
    mix-blend-mode: normal;
}

.classes-bg {
    position: absolute;
    left: 0;
    top: 800px;
    height: 800px;
    z-index: -99;
    background: linear-gradient(180deg, #0f2f5c 0.85%, #0f1f39 7.88%, #0b1526 19.44%);
}

.bg {
    background: linear-gradient(180deg, #0f2f5c 0.85%, #0f1f39 7.88%, #0b1526 19.44%);
}

.shadow {
    box-sizing: border-box;
    box-shadow: inset 2px 3px 4px rgba(0, 0, 0, 0.25);
}
