@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Work Sans";
  src: url("/fonts/work_sans_bold.ttf");
}

@font-face {
  font-family: "IBM Plex Mono";
  src: url("/fonts/ibm_plex_mono.ttf");
}

body {
  font-family: "IBM Plex Mono", serif;
  overflow: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Work Sans", serif;
}

::-webkit-scrollbar {
  display: none;
}
